body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/256/616/original/modern-grey-beautiful-polygon-background-vector.jpg);
    background-size: cover;
}
.content {
    display: grid;
    grid-template-rows: 100px 20vw 10rem;
}
h1 {
    color: #333; 
    text-align: center; 
}

.item_2 {
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    font-weight: 700;
    color: #111111;
}
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.item, .box, .item2, .box2, .box3, .box4, .item3, .item4 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    flex: 1 1 calc(30% - 20px); 
    text-align: center;
}
.item_item {
    width: 1450px;
    height: 50px;;
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-family: "Arial";
}
.container {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none; 
    color: inherit;
}

.item div, .box div, .item2 div, .box2 div, .box3 div, .box4 div, .item3 div, .item4 div {
    padding: 10px; 
    font-size: 16px; 
    color: #555; 
}

.item:hover, .box:hover, .item2:hover, .box2:hover, .box3:hover, .box4:hover, .item3:hover, .item4:hover {
    transform: scale(1.05); 
    transition: transform 0.3s; 
}
img {
    max-width: 300px; 
    height: 300px; 
    border-radius: 5px; 
}
