body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}
.content {
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
}
img {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10px;
}
.box1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Arial";
    background: #aa733d;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.box2 {
    width: 600px;
    height: 450px;
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-family: "Arial";
    margin-top: 70px;
    margin-left: 30px;
}
.item2 img {
    width: 600px;
    height: 300px;
    margin-left: 10px;
    border-radius: 5px;
}
.box {
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    height: 50px;
    margin-left: 10px;
}
.box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}
.item, .item1, .item2, .item3 {
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-family: "Arial";
    margin-left: 10px;
}
h1, h2 {
    font-size: 2em;
    margin-left: 10px;
}

h3 {
    color: #b3701a;
    margin-left: 10px;
}
